body {
  background-color: #efeee1;
  padding-top: 10px;
  padding-left: 15px;
}

a {
    color: #FF985D;
    text-decoration: none;
}

a:hover {
  color: #FF7467;
  text-decoration: none;
}

.hr_main {
  border: 0;
  height: 2px;
  background: #c4b998;
  background-image: -webkit-linear-gradient(left, #efeee1, #c4b998, #efeee1);
  background-image: -moz-linear-gradient(left, #efeee1, #c4b998, #efeee1);
  background-image: -ms-linear-gradient(left, #efeee1, #c4b998, #efeee1);
  background-image: -o-linear-gradient(left, #efeee1, #c4b998, #efeee1);
}

.hr_main_light {
  border: 0;
  height: 1px;
  background: #D4DADC;
  background-image: -webkit-linear-gradient(left, #3b4344, #D4DADC, #3b4344);
  background-image: -moz-linear-gradient(left, #3b4344, #D4DADC, #3b4344);
  background-image: -ms-linear-gradient(left, #3b4344, #D4DADC, #3b4344);
  background-image: -o-linear-gradient(left, #3b4344, #D4DADC, #3b4344);
}

.main_row_layout {
  margin: 1rem 1rem;
}

.info_main_row{
  margin: 1.1rem 3rem;
  padding: 0px;
}

.info_row {
  border-radius: 5px;
}

.info_row_right > h3 {
  margin: 0;
  padding-top: 10px;
}

.info_row_right > h4 {
  margin: 0;
  padding-top: 2px;
}

.info_column_names{
  text-align: right;
}

.info_column_names > h4{
  font-weight: normal;
  margin-top: 2px;
}

.info_row_left{
  text-align: right;
}

.info_row_right{
  text-align: left;
}

.icon_column{
  text-align: right;
}


.icon{
  color: white;
  font-size: 2em;
  margin: 0.3em 0;
}

.red_color {
  color: #FF7467;
}

.yellow_color {
  color: #FFC27E;
}

.positive_bg_color {
  background-color: #ED6559;
}

.suspect_bg_color {
  background-color: #68c184;
}

.negative_bg_color {
  background-color: #53b5ac;
}

.recovered_bg_color{
  background-color: #f1935c;
}

.death_bg_color {
  background-color: #9a8b9c;
}

.tested_bg_color{
  background-color: #ad754d;
}

/* Side bar styles*/

.well {
  background-color: #3b4344;
  border-radius: 8px;
}

.well > h1, p, label {
  color: white;
}

.well > div > div > h3 {
  font-size: 1.6em;
  color: #FFC27E;;
}

/* shiny widgets */
.shiny-options-group {
  padding-left: 2rem;
}

/* Usability */
.fade_white_color {
  color: #BBB;
  
}

/* Inline iputs plots */
label.radio-inline > span,
.plot_input_labels > div > div > div > label > span {
  color: #555;
  margin-left: 1rem;

}

.sideSecondary {
  background-color: #dcdbce;
  border-radius: 8px;
}

input#spoiler{
 display: none;
}
input#spoiler + label {
  width: 200px;
  padding: 0px 20px;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}
input#spoiler:checked + label {
  color: #333;
}
input#spoiler ~ .spoiler {
  width: 90%;
  height: 0;
  overflow: hidden;
  opacity: 0;
  margin: 10px auto 0; 
  padding: 10px; 
}
input#spoiler:checked + label + .spoiler{
  height: auto;
  opacity: 1;
  padding: 10px;
}
@media only screen and (max-width: 768px) {
  .info_column_names {
    text-align: center;
  }
  
  .info_row_right{
    text-align:right;
  }
  .icon_column{
    text-align: left;
  }
  
  .date_column {
   text-align: center; 
  }

}

@media only screen and (max-width: 992px) {
  .numbers_panel{
    padding: 0 5rem;
  }  
  
  .header{
    margin: 0 auto;
    text-align: center;
  }
}

