
.info_main_row{
  margin: 1.1rem 3rem;
  padding: 0px;
}

.info_row {
  border-radius: 5px;
}

.info_row_right > h3 {
  margin: 0;
  padding-top: 10px;
}

.info_row_right > h4 {
  margin: 0;
  padding-top: 2px;
}

.info_column_names{
  text-align: right;
}

.info_column_names > h4{
  font-weight: normal;
  margin-top: 2px;
}

.info_row_left{
  text-align: right;
}

.info_row_right{
  text-align: left;
}


.icon{
  color: white;
  font-size: 2em;
  margin: 0.3em 0;
}

.positive_color {
  color: #E7574A;
}

.positive_bg_color {
  background-color: #ED6559;
}

.suspect_bg_color {
  background-color: #90BEBF;
}

.negative_bg_color {
  background-color: #9EC67E;
}

.recovered_bg_color{
  background-color: #f1935c;
}

.death_bg_color {
  background-color: #8C989B;
}

.tested_bg_color{
  background-color: #B497B9;
}