a {
    color: #51D5F6;
    text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
  background-color: #FFC27E;
  border-radius: 5px;
}


.info_main_row{
  margin: 1.1rem 3rem;
  padding: 0px;
}

.info_row {
  border-radius: 5px;
}

.info_row_right > h3 {
  margin: 0;
  padding-top: 10px;
}

.info_row_right > h4 {
  margin: 0;
  padding-top: 2px;
}

.info_column_names{
  text-align: right;
}

.info_column_names > h4{
  font-weight: normal;
  margin-top: 2px;
}

.info_row_left{
  text-align: right;
}

.info_row_right{
  text-align: left;
}


.icon{
  color: white;
  font-size: 2em;
  margin: 0.3em 0;
}

.red_color {
  color: #FF7467;
}

.yellow_color {
  color: #E6C496;
}

.positive_bg_color {
  background-color: #ED6559;
}

.suspect_bg_color {
  background-color: #90BEBF;
}

.negative_bg_color {
  background-color: #9EC67E;
}

.recovered_bg_color{
  background-color: #f1935c;
}

.death_bg_color {
  background-color: #8C989B;
}

.tested_bg_color{
  background-color: #B497B9;
}

/* Side bar styles*/

.well {
  background-color: #363b3c;
}

.well > h1, p, label {
  color: white;
}

.well > div > div > h3 {
  color: #FFC27E;;
}

/* Usability */
.fade_white_color {
  color: #BBB;
}